/* Icono flotante para el chat */
.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #28a745;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .chat-icon:hover {
    background-color: #218838;
    transform: scale(1.1);
  }
  
  /* Ventana de chat */
  .chat-window {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.508);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    z-index: 1000;
    transition: transform 0.3s ease;
  }
  
  .chat-window.open {
    display: flex;
  }
  
  .chat-header {
    background-color: #28a745;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
  }
  
  .chat-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
  }
  
  .chat-footer {
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .chat-footer form {
    display: flex;
  }
  
  .chat-footer input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .chat-footer button {
    padding: 10px 15px;
    background-color: #28a745;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chat-footer button:hover {
    background-color: #218838;
  }
  .close-btn{
    background-color: #28a745;
    border-radius: 8px;
  }
  .close-btn:hover{
    background-color: #218838;
  }