<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 login-box">
      <h1 class="text-center text-primary">Ingresar Usuario</h1>
      <form [formGroup]="loginForm" (ngSubmit)="Login()">

        <div class="form-group">
          <input
            formControlName="userMail"
            class="form-control my-2"
            [class.is-invalid]="
              userMail?.invalid && (userMail?.dirty || userMail?.touched)
            "
            placeholder="Correo electrónico"
            (input)="checkIfUserExists()"
          />
          <div
            *ngIf="userMail?.invalid && (userMail?.dirty || userMail?.touched)"
            class="invalid-feedback"
          >
            <div *ngIf="userMail?.errors?.['required']">
              El correo electrónico es obligatorio.
            </div>
            <div *ngIf="userMail?.errors?.['email']">
              Ingrese un correo electrónico válido.
            </div>

          </div>
        </div>

        <div class="form-group">
          <input
            formControlName="userPWD"
            type="password"
            class="form-control my-2"
            [class.is-invalid]="
              userPWD?.invalid && (userPWD?.dirty || userPWD?.touched)
            "
            placeholder="Contraseña"
          />
          <div
            *ngIf="userPWD?.invalid && (userPWD?.dirty || userPWD?.touched)"
            class="invalid-feedback"
          >
            <div *ngIf="userPWD?.errors?.['required']">
              La contraseña es obligatoria.
            </div>
          </div>
        </div>
        <div *ngIf="errorMessage" class="text-danger text-center mt-2">
          <p>{{ errorMessage }}</p>
        </div>

        <div class="d-grid gap-2">
          <button
            type="submit"
            [disabled]="loginForm.invalid || userNotFound"
            class="btn btn-primary"
          >
            Iniciar Sesión
          </button>
        </div>

        <div class="d-grid gap-2 mt-2">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="quickLogin()"
          >
            Ingreso Rápido
          </button>
        </div>

        <div class="d-grid gap-2 mt-2">
          <button
            type="button"
            class="btn btn-success"
            (click)="Register()"
            
          >
            Registrarse
          </button>
        </div>

        <div *ngIf="userNotFound && userMail?.dirty && userMail?.valid" class="text-center mt-3">
          <p>El correo ingresado no está registrado. ¿Deseas registrarte?</p>
        </div>
      </form>
    </div>
  </div>
</div>