<div class="mayor-menor-container">
    <h1>Mayor o Menor</h1>
    
    <div class="juego-container">
        <div class="cartas" *ngIf="cartaActual">
            <img [src]="cartaActual.image" alt="Carta Actual">
        </div>

        <div class="botones">
            <button (click)="adivinar('mayor')">Mayor</button>
            <button (click)="adivinar('menor')">Menor</button>
            <h2>Score: {{ score }}</h2>
            <h2>Best: {{ bestScore }}</h2>
        </div>
    </div>
  
    <div *ngIf="mensajeFinal" class="mensaje-final">
        <p>{{ mensajeFinal }}</p>
        <button (click)="reiniciarJuego()">Reiniciar</button>
    </div>
</div>
