.mayor-menor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    background-color: #e3f2fd; 
    font-family: 'Poppins', sans-serif;
    color: hsl(0, 0%, 13%); 
    padding: 20px; 
    text-align: center;
    overflow: auto; 
    max-width: 600px;
    margin: 0 auto; 
}


.juego-container {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
}

h1 {
    font-size: 2.5rem;
    color: #1e88e5; 
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    width: 100%; 
}

.cartas {
    flex: 1; 
    display: flex;
    justify-content: center; 
    margin: 20px;
}

.cartas img {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.botones {
    margin: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.botones button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1.5rem; 
    background-color: #43a047; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.botones button:hover {
    background-color: #388e3c;
    transform: scale(1.1);
}

.mensaje-final {
    margin-top: 20px;
    font-size: 2rem; 
    color: #f44336; 
    width: 100%; 
}

.mensaje-final button {
    padding: 12px 25px;
    background-color: #43a047; 
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.mensaje-final button:hover {
    background-color: #388e3c;
    transform: scale(1.05);
}


@media (max-width: 600px) {
    h1 {
        font-size: 2rem; 
    }
    .botones button {
        font-size: 1.2rem; 
    }
    .mensaje-final {
        font-size: 1.5rem; 
    }
}
