<div class="card mb-3 card-custom">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/avatar.png" class="img-fluid rounded-start" alt="avatar" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Teruel Elias</h5>
        <p class="card-text">DNI: 39333529</p>
        <p class="card-text">Email: eliasteruel96&commat;gmail.com</p>
        <p>Mi juego se traa de:</p>
        <p>2048 es un clásico juego de puzles matemáticos que consiste en unir las casillas con el mismo número en un tablero de 4x4 hasta conseguir 2048 en una sola casilla.</p>
      </div>
    </div>
  </div>
</div>
